.custom-note-panel {
    max-width: 300px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
}

.custom-note-panel p {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.custom-note-panel img {
    max-width: 100%;
}

.mindmap-canvas {
    transform: translateX(-38%) translateY(-1%);
    width: 200%;
    height: 167%;
}

@media (max-width: 768px) {
    .mindmap-canvas {
        transform: translateX(-41%) translateY(-7%);
    }
}